<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sorry to see you leave example.com, <%= @user.firstname %></h1>
    <p>
      Feel free to come back to example.com anytime
      <br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>